.env
*/backend/.env
.env.*
*.env

env/
venv/
.venv/
ENV/
*/env
*/venv

__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/

*.log

*.sqlite3

.vscode/
.idea/
*.swp
*.swo

node_modules/
dist/
build/

.DS_Store
Thumbs.db

*.pid